# Railway service: web
# Paste into the service Variables raw editor.
RAILWAY_DOCKERFILE_PATH=/deploy/web.Dockerfile
PORT=3000

POPULATION_PROVIDER=local
POPULATION_SERVICE_URL=http://${{population.RAILWAY_PRIVATE_DOMAIN}}:${{population.PORT}}
POPULATION_SERVICE_AUTH_TOKEN=${{population.POPULATION_SERVICE_AUTH_TOKEN}}
POPULATION_SERVICE_TIMEOUT_MS=120000
